#contests {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    flex: 1 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#contests::before {
    content: "";
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url('/cp/img/card-bg.jfif');
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

#contests .title {
    padding-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 40px;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(20, 46, 116);
}

#contests .table {
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin-bottom: 0px;
}

#contests .tb {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source:
        linear-gradient(to left,
            rgb(90, 185, 230),
            rgba(56, 109, 255, 0.4));
}

#contests .table::before {
    content: "";
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url('/cp/img/card-bg.jfif');
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

#contests tr:last-child {
    border-bottom-color: #FFF;
}

#contests th,
#contests td {
    vertical-align: middle;
    text-align: center;
    border: 0px;
}

#contests .editors {
    font-style: oblique;
    width: 20%;
}

@media (max-width: 585px) {

    #contests .date,
    #contests .duration,
    #contests .date-h,
    #contests .duration-h {
        display: none;
    }
}

@media (max-width: 1140px) {

    #contests .editors,
    #contests .editors-h {
        display: none;
    }
}