{% extends 'main/layout.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'main/styleNav.css' %}">
<link rel="stylesheet" href="{% static 'main/styleCont.css' %}">

<nav class="navbar container-xl">
    <div id="nav-Container" class="container-xl">
        <div class="logo">
            <a class="navbar-brand" href="index.html">
                <img src="/static/main/logo-removebg-preview.png" alt="" width="100px" height="30px">
            </a>
        </div>
        <div class="tagline txt-rotate" data-rotate='["Your smart CP platforms tracker"]'>
            <!--Your smart CP platforms tracker-->
        </div>
        <div id="nav-dropdown" class="dropdown">
            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                data-bs-reference="parent">
                nickname
            </a>

            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-start">
                <li><a class="dropdown-item" href="/dashboard">Dashboard</a></li>
                <li><a class="dropdown-item" href="/contests">Contests</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="/">Exit</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="contests" class="container-xl">
    <div class="title" style="width:100%;">contests</div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" class="num-h">#</th>
                <th scope="col" class="name-h">Title</th>
                <th scope="col" class="editors-h">Writers</th>
                <th scope="col" class="date-h">Date</th>
                <th scope="col" class="duration-h">Duration</th>
                <th scope="col" class="contest-link-h">Link</th>
            </tr>
        </thead>
        {% for cont in contests %}
            <tbody class="table-group-divider">
                <tr>
                    <th scope="row" class="num">{{ cont.row }}</th>
                    <td class="name">{{ cont.title }}</td>
                    <td class="editors">{{ cont.writer|safe }}</td>
                    {% if cont.datehref %}
                    <td class="date"><a target="_blank" href="{{ cont.datehref }}">{{ cont.date }}</a></td>
                    {% else %}
                    <td class="date">{{ cont.date }}</td>
                    {% endif %}
                    <td class="duration">{{ cont.dur }}</td>
                    <td class="contest-link"><a href="{{ cont.href }}" target="_blank" style="text-decoration: none;">Link</a></td>
                </tr>
            </tbody>
        {% endfor %}
    </table>
</div>

{% endblock %}