{% extends 'main/layout.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'main/styleNav.css' %}">
<link rel="stylesheet" href="{% static 'main/styleDash.css' %}">

<nav class="navbar container-xl">
    <div id="nav-Container" class="container-xl">
        <div class="logo">
            <a class="navbar-brand" href="/">
                <img src="/static/main/logo-removebg-preview.png" alt="" width="100px" height="30px">
            </a>
        </div>
        <div class="tagline txt-rotate" data-rotate='["Your smart CP platforms tracker"]'>
            <!--Your smart CP platforms tracker-->
        </div>
        <div id="nav-dropdown" class="dropdown">
            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                data-bs-reference="parent">
                {{ username }}
            </a>

            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-start">
                <li><a class="dropdown-item" href="/dashboard">Dashboard</a></li>
                <li><a class="dropdown-item" href="/contests">Contests</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="/logout">Exit</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="dashboard" class="container-xl">
    <div class="title" style="width:100%;">dashboard</div>
    {% for card in news %}
        <div class="card" style="width: 90%">
            <div class="card-body">
                <h5 class="card-title">{{ card.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ card.dateshow }}</h6>
                <p class="card-text">{{ card.desc|safe }}</p>
                <div style="display:flex; justify-content:flex-end;"><a target="_blank" href="{{ card.href }}" class="card-link">Learn more</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}